.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.search-container{
  margin-top: 20px;
}
.github-cards{
  margin-top: 50px;
}

.card {
  width:35%;
  margin: auto;
  text-align: left;
  border-top: 1px solid rgb(167, 167, 167);
  padding: 10px;
}
.name{
  text-decoration: none;
  font-weight: 500;
  margin: 2px;
}
.name:hover{
  text-decoration: underline;
}

.description{
  font-size: 15px;
}
.topics{
  display: flex;
  gap: 10px;
  margin: 5px;
  align-items: center;
  text-align:center;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
}
.topic-name{
  background-color: rgb(221,244,255);
  border-radius: 50px;
  padding: 2px 10px;
  align-items: center;
  text-align: center;
  color: blue;
  cursor: pointer;
  
}
.topic-name:hover{
  background-color: blue;
  color: white;
}
.page-button{
  margin-top: 50px;
}
.per-page{
  margin: 10px;
}
.per-page>span{
  margin: 5px;
}